<div class="cuadro1">
   <div class="row-1">
      <div class="row-1-col1">
         <label for="order_number" class="row1-label">Numero de Orden:</label>
         <select
            class="row1-select"
            [(ngModel)]="orderSelected"
            [disabled]="!informacionCargadaEnTabla || !selectedValue"
         >
            <option *ngFor="let resultItem of resultOrders" [ngValue]="resultItem">
               {{ resultItem.ORDEN }} - {{ resultItem['TIPO MANTENIMIENTO'] }}
            </option>
         </select>
      </div>

      <div class="row-1-col2">
         <button (click)="agregarElementos()">Agregar</button>
      </div>
   </div>
   <br />
   <div class="cuadro3">
      <div class="row-2">
         <div class="tabla">
            <div class="fila">
               <div class="celda"></div>
               <div class="celda">Elemento</div>
               <div class="celda">Tag</div>
               <div class="celda">Departamento</div>
               <div class="celda">Localidad</div>
            </div>
            <div class="fila" *ngFor="let feature of selectedFeatures">
               <div class="celda"></div>
               <div class="celda">{{ selectedValue }}</div>
               <div class="celda">{{ feature ? feature.attributes.TAG : '' }}</div>
               <div class="celda">{{ feature ? feature.attributes.DEPARTAMENTO : '' }}</div>
               <div class="celda">{{ feature ? feature.attributes.LOCALIDAD : '' }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
