<div class="contenedor">
  <div style="width: 100%; height: 205px">

    <jqxDataTable #dataTable [width]="'100%'" [height]="'98%'" [source]="dataAdapter" [columns]="dataTableColumns"
      [pageable]="false" [columnsResize]="true" (onRowSelect)="tableOnRowSelect($event)">
    </jqxDataTable>

  </div>
</div>

<div class="contenedor consulta">
  <div>
    <label style="width: 45%;">Nuevo equipo</label>
    <input type="number" style="width: 53%;" [(ngModel)]="model.CodigoEquipo" [value]="cod" [disabled]="disabled">
  </div>

  <div>
    <label style="width: 45%;">Vigencia de calibración</label>
    <input type="date" [min]="fechaActual" style="width: 53%;" [(ngModel)]="model.FechaCalibracion" [value]="fecha">
  </div>
</div>

<div>
  <input type="button" value="Cancelar" (click)="onCancelar()" *ngIf="botonCancelar" style="margin-left: 3%;">
  <input type="button" value="Modificar" (click)="onModificarClickHandler()" [disabled]="modi" style="float: right; margin-right: 3%;" />
  <input type="button" value="Adicionar" (click)="onAdicionar()" [disabled]="adicio" style="float: right; margin-right: 3%;" />
</div>