<div class="contenedor-uno">
  <div class="columna-uno" style="padding: 1%;">

    <div style="margin-top: 7.7%;">

      <label style="width: 49%;">Departamento</label>
      <select style="width: 49%;" [(ngModel)]="model.Departamento1" (ngModelChange)="onDeparmentSelectChanged($event)">
        <option></option>
        <option *ngFor="let department of departments" [ngValue]="department">{{ department.text }}</option>
      </select>

    </div>

    <!-- <div style="margin-top: 2%;">
  
        <label style="width: 49%;">Contratista</label>
        <select style="width: 49%;">
          <option>Lista de contratistas</option>
        </select>
  
      </div> -->

    <div style="margin-top: 2.5%;">

      <label style="width: 49%;">Unidad operativa</label>
      <select style="width: 49%;" [(ngModel)]="model.Unidad" (ngModelChange)="onUnidadesChange($event)">
        <option></option>
        <option *ngFor="let unidadO of listarUnidades" [ngValue]="unidadO">{{ unidadO.text }}</option>
      </select>

    </div>

    <div style="margin-top: 2.5%;">

      <label style="width: 49%;">Orden padre</label>
      <select style="width: 49%;" [(ngModel)]="model.Padre" (ngModelChange)="onUnidadesChange1($event)">
        <option></option>
        <option *ngFor="let padreO of listpadre" [ngValue]="padreO">{{ padreO.value }}</option>
      </select>

    </div>

    <div class="botones">
      <input type="button" value="Crear ordenes hija" (click)="onCrearOrdenHIja()" [disabled]="ordenhija">
      <input type="button" value="Legalizar orden" [disabled]="ordenhija1">
    </div>

  </div>

  <div class="columna-dos">

    <label style="margin-left: 2%; margin-top: 1%;">Orden padre seleccionada</label>
    <span style="margin-left: 3%; margin-top: 1%;">{{ padrehija }}</span>

    <div class="contenedor-tabla">
      <div style="width: 100%; height: 205px">

        <jqxDataTable #dataTable [width]="'100%'" [height]="'70%'" [source]="dataAdapter" [columns]="dataTableColumns"
          [pageable]="false" [columnsResize]="true">
        </jqxDataTable>

        <span class="cantidad" *ngIf="cantidadOH">{{ cantidadOH }} ordenes hijas creadas.</span>

      </div>
    </div>

  </div>
</div>

<div class="contenedor-dos">
  <div class="columna-uno">

    <div class="contenedor-manzanas">
      <p style="text-align: center; margin-bottom: 8%;"><b>Selección de manzanas</b></p>

      <div style="margin-bottom: 6%; text-align: center;">
        <input type="button" value="Seleccionar manzana" (click)="executeMeasureLine()" [disabled]="seleccionarManzana">
      </div>

      <div>
        <span>Manzanas seleccionadas: {{ cantidadManzanas }}</span>
      </div>
    </div>

  </div>

  <div class="columna-dos">
    <div style="padding: 2%;">

      <div style="margin-top: 1%;">
        <label style="width: 36%;">Patrullero</label>
        <select style="width: 27%;" [(ngModel)]="nombrePatrol" [disabled]="patrolDisabled">
          <option></option>
          <option *ngFor="let patrullero of patrol" [ngValue]="patrullero">{{ patrullero.NOM_PATRULLERO }}</option>
        </select>

        <input type="button" value="Asignar" style="width: 14%;" (click)="asignarPatrullero()" [disabled]="btnPatrol">
        <input type="button" value="Desasignar" style="width: 19%;" (click)="desasignarPatrullero()" [disabled]="btnPatrolDesasignar">
      </div>

      <div style="margin-top: 1%;">
        <label style="width: 36%;">Serial de equipo</label>
        <select style="width: 27%;" [(ngModel)]="fechaC" [disabled]="teamDisabled" (ngModelChange)="fechaCalibracion($event)">
          <option></option>
          <option *ngFor="let equipo of team" [ngValue]="equipo">{{ equipo.SERIAL_EQUIPO }}</option>
        </select>

        <input type="button" value="Asignar" style="width: 14%;" (click)="assignEquipment()" [disabled]="btnEquipo">
        <input type="button" value="Desasignar" style="width: 19%;" (click)="desasignarEquipo()" [disabled]="btnEquipoDesasignar">
      </div>

      <div style="margin-top: 1%;">
        <label style="width: 45%;">Vigencia de calibración</label> <span>{{ dateC }}</span>
      </div>

      <div style="margin-top: 2%; text-align: center;">
        <input type="button" value="Borrar selección" (click)="limpiarManzanaSeleccionada()" [disabled]="btnLimpiarSelect">
        <input type="button" value="Consultar" (click)="mostrarManzanasPatrulleros()" [disabled]="btnManzanaPatrol">
      </div>

    </div>
  </div>
</div>

<jqxLoader #jqxLoader [imagePosition]="'top'" [width]="80" [height]="50" [text]="'Cargando...'"></jqxLoader>