<p>Consultas</p>
<div class="cuadro0">
   <div class="cuadro_radios">
      <div class="row-0-col1">
         <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            (click)="checkBuscarOrden()"
            [checked]="buscarTag"
         />
         <label class="form-check-label" for="flexRadioDefault1"> Buscar Orden </label>
         <br />
         <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            (click)="buscarTagElemento()"
            [checked]="buscarTag"
         />
         <label class="form-check-label" for="flexRadioDefault2"> Buscar TAG elemento </label>
      </div>
      <div class="row-0-col2">
         <select aria-label="Estado Orden:" [disabled]="buscarOrden">
            <option selected>Estado Orden:</option>
            <option value="">Todas</option>
            <option value="">Registrada</option>
            <option value="">Asignada</option>
            <option value="">Legalizada</option>
         </select>
         <br />
         <input type="text" [(ngModel)]="numeroOrden" (change)="buscarDor()" />
         <span class="glyphicon glyphicon-search modify-span" (click)="buscarDor()"></span>

         <div class="button-container">
            <button class="btn btn-primary" (click)="openModal()">Cambios de estado</button>
            <button class="btn btn-secondary" (click)="clearData()">Limpiar</button>
         </div>

         <!-- Modal -->
         <div class="modal" [class.show]="showModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">Reporte Historial de Cambios de estado de Ordenes</h5>
                     <button type="button" class="close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="cuadro1">
                        <div class="Preventivo">
                           <div class="tabla0">
                              <div class="tabla0-0">
                                 <div class="fila">
                                    <div class="celda" style="background-color: #199ed8"></div>
                                    <div class="celda" style="background-color: #199ed8">
                                       IDCAMBIO
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       ORDEN:
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       FECHA:
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       USUARIO:
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       MAQUINA
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       OSF_ANT
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       OSF_NUE
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       GIS_ANT
                                    </div>
                                    <div class="celda" style="background-color: #199ed8">
                                       GIS_NUE
                                    </div>
                                 </div>
                                 <div class="fila" *ngFor="let cambio of listaHistorialCambios">
                                    <div class="celda"></div>
                                    <div class="celda">{{ cambio.IDCAMBIO }}</div>
                                    <div class="celda">{{ cambio.ORDEN }}</div>
                                    <div class="celda">{{ cambio.FECHA }}</div>
                                    <div class="celda">{{ cambio.USUARIO }}</div>
                                    <div class="celda">{{ cambio.MAQUINA }}</div>
                                    <div class="celda">{{ cambio.OSF_ANT }}</div>
                                    <div class="celda">{{ cambio.OSF_NUE }}</div>
                                    <div class="celda">{{ cambio.GIS_ANT }}</div>
                                    <div class="celda">{{ cambio.GIS_NUE }}</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" (click)="closeModal()">
                        Cerrar
                     </button>
                  </div>
               </div>
            </div>
<div *ngIf="showSpinner" class="spinner"></div>

         </div>
      </div>
   </div>
   <div class="row-1">
      <div class="row-1-col1">
         <label for="order_number" class="row1-label">Numero de Orden:</label>
         <select
            id="orderSelect"
            #orderSelect
            class="row1-select"
            [(ngModel)]="orderSelected"
            (change)="onSelectOrder()"
            [disabled]="buscarOrden"
         >
            <option *ngFor="let resultItem of resultOrders" [value]="resultItem.value">
               {{ resultItem.label }}
            </option>
         </select>

         <label for="date_generation" class="row1-label">Fecha de generación:</label>
         <input
            type="text"
            id="date_generation"
            class="row1-input"
            [(ngModel)]="fechagen"
            readonly
            [disabled]="buscarOrden"
         />

         <label for="date_programming" class="row1-label">Fecha de Asignación:</label>
         <input
            type="text"
            id="date_programming"
            class="row1-input"
            [(ngModel)]="fechaprog"
            readonly
            [disabled]="buscarOrden"
         />

         <label for="date_legalization" class="row1-label">Inicio de Ejecución:</label>
         <input
            type="text"
            id="date_legalization"
            class="row1-input"
            [(ngModel)]="fechaIniEje"
            readonly
            [disabled]="buscarOrden"
         />
         <label for="date_legalization" class="row1-label">Fin de Ejecución:</label>
         <input
            type="text"
            id="date_legalization"
            class="row1-input"
            [(ngModel)]="fechaFinEje"
            readonly
            [disabled]="buscarOrden"
         />
      </div>

      <div class="row-1-col2">
         <label for="estadoOrden" class="row1-label">Estado de Orden:</label>
         <input
            type="text"
            id="estadoOrden"
            [(ngModel)]="estado"
            readonly
            [disabled]="buscarOrden"
         />

         <label for="activity" class="row1-label">Cuadrilla Asignada:</label>
         <input
            type="text"
            id="activity"
            class="row1-input"
            [(ngModel)]="codcuadrilla"
            readonly
            [disabled]="buscarOrden"
         />

         <label for="main_activity" class="row1-label">Actividad Gis:</label>
         <input
            type="text"
            id="main_activity"
            class="row1-input"
            [(ngModel)]="codactgis"
            readonly
            [disabled]="buscarOrden"
         />
         <label for="activityPrincipal" class="row1-label">Actividad Principal OSF:</label>
         <input
            type="text"
            id="activity"
            class="row1-input"
            [(ngModel)]="codactppal"
            readonly
            [disabled]="buscarOrden"
         />

         <label for="fechaLegalizacion" class="row1-label">Fecha de legalización:</label>
         <input
            type="text"
            id="fechaLegalizacion"
            class="row1-input"
            [(ngModel)]="fechaLegal"
            readonly
            [disabled]="buscarOrden"
         />
      </div>
   </div>
<div *ngIf="showSpinner" class="spinner"></div>

</div>
<jqxExpander [width]="'100%'" [expanded]="false">
   <p>Preventivo</p>
   <div class="cuadro1">
      <div class="Preventivo">
         <div class="tabla0">
            <div class="tabla0-0">
               <div class="fila">
                  <div class="celda"></div>
                  <div class="celda">Codigo</div>
                  <div class="celda">Descripción</div>
                  <div class="celda">Cantidad</div>
                  <div class="celda">Costo</div>
               </div>
               <div class="fila" *ngFor="let itemdataPre of dataPreItems">
                  <div class="celda"></div>
                  <div class="celda">{{ itemdataPre.CODIGO }}</div>
                  <div class="celda">{{ itemdataPre.DESCRIPCION }}</div>
                  <div class="celda">{{ itemdataPre.CANTIDAD }}</div>
                  <div class="celda">{{ itemdataPre.COSTO }}</div>
               </div>
            </div>
         </div>
         <div class="tabla0-1">
            <label for="">Observación:</label>
            <textarea [disabled]="buscarOrden">{{ observacion }}</textarea>
         </div>
      </div>
   </div>
</jqxExpander>
<jqxExpander [width]="'100%'" [expanded]="false">
   <p>Correctivo</p>
   <div class="cuadro2">
      <div class="Correctivo">
         <div class="tabla1">
            <div class="tabla">
               <div class="fila">
                  <div class="celda"></div>
                  <div class="celda">Elemento</div>
                  <div class="celda">Tag</div>
                  <div class="celda">Departamento</div>
                  <div class="celda">Localidad</div>
                  <div class="celda">Subtipo</div>
               </div>
               <div class="fila" *ngFor="let item of resultOrdersTag">
                  <div class="celda"></div>
                  <div class="celda">{{ item.ELEMENTO }}</div>
                  <div class="celda">{{ item.TAG }}</div>
                  <div class="celda">{{ item.DEPARTAMENTO }}</div>
                  <div class="celda">{{ item.LOCALIDAD }}</div>
                  <div class="celda">{{ item.SUBTIPO }}</div>
               </div>
            </div>
         </div>
         <div class="tabla2">
            <div class="tabla">
               <div class="fila">
                  <div class="celda">codigo</div>
                  <div class="celda">Descripción</div>
                  <div class="celda">Cantidad</div>
                  <div class="celda">Costo</div>
               </div>
               <div class="fila" *ngFor="let itemCorreItems of resultCorrItems">
                  <div class="celda">{{ itemCorreItems.CODIGO }}</div>
                  <div class="celda">{{ itemCorreItems.DESCRIPCION }}</div>
                  <div class="celda">{{ itemCorreItems.CANTIDAD }}</div>
                  <div class="celda">{{ itemCorreItems.COSTO }}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</jqxExpander>


 
