.sidebar-bottom {
    width: 100%;
    padding: 0.5%;
    border-top: 1px solid #c7c7c7;
    overflow: hidden;
    display: flex;
}

.bar-chart {
    width: 70%;
    height: 100%;
    margin-right: 1%;
}

.donut-chart {
    width: 30%;
    height: 100%;
}

.seleccionado {
    text-align: center;
    padding: 3%;
}

.grafica {
    display: flex;
    justify-content: center;
}