<div class="cuadro1">
   <div class="row-1">
      <div class="row-1-col1">
         <label for="tipoActividad" class="row1-label">Tipo Actividad:</label>
         <select
            id="tipoActividad"
            class="row1-select"
            [(ngModel)]="selectedTipoActividad"
            [disabled]="!informacionCargadaEnTabla"
         >
            <option *ngFor="let activities of tipoactivity" [ngValue]="activities">
               {{ activities.CODIGO }} -{{ activities.DESCRIPCION }} - {{ activities.PORCENTAJE }}
            </option>
         </select>
      </div>

      <div class="row-1-col2">
         <button (click)="generarOrden()">Generar Orden</button>
      </div>
   </div>

   <div class="row-2">
      <div class="row-2-col1">
         <label for="actividad" class="row2-label">Actividad:</label>
         <select
            id="actividad"
            class="row2-select"
            [(ngModel)]="selectedActividad"
            [disabled]="!informacionCargadaEnTabla"
         >
            <option *ngFor="let activities of activity" [ngValue]="activities">
               {{ activities.CODIGO }} -{{ activities.DESCRIPCION }} -{{ activities.TIPOTRABAJO }}
            </option>
         </select>
      </div>

      <div class="row-2-col2">
         <input type="button" value="Cancelar" class="buttonCancelar" (click)="Cancelar()" />
      </div>
   </div>

   <div class="row-3">
      <div class="row-3-col1">
         <label for="actividadOSF" class="row3-label">Actividad OSF:</label>
         <select
            id="actividadOSF"
            class="row3-select"
            [(ngModel)]="selectedActividad"
            [disabled]="!informacionCargadaEnTabla"
         >
            <option [ngValue]="selectedActividad">
               {{ selectedActividad?.DESCRIPCION }}
            </option>
         </select>
      </div>
   </div>

   <div class="row-4">
      <div class="row-4-col1">
         <label for="order_number" class="row4-label">Observación:</label>
         <textarea class="inputObserva" [(ngModel)]="observable" required> </textarea>
      </div>
   </div>

   <div class="row-5">
      <div class="row-5-col1">
         <textarea name="" class="row5-input" [(ngModel)]="observacion" disabled></textarea>
      </div>

      <div class="row-5-col2">
         <input type="button" value="Agregar" class="buttonAgregar" (click)="Agregar()" />
      </div>
   </div>

   <div class="row-6">
      <div class="row-6-col2">
         <input type="button" value="Remover" class="buttonRemover" (click)="Remover()" />
      </div>
   </div>

   <!-- ... (código HTML anterior) ... -->

   <div class="row-7-col1">
      <input type="checkbox" [(ngModel)]="asociarDireccion" />
      <label class="row7-label">Asociar a Dirección</label>

      <input
         type="text"
         class="input1"
         [disabled]="!asociarDireccion"
         [(ngModel)]="capturedInformation[0]?.feature.attributes.OBJECTID"
         readonly
      />

      <input
         type="text"
         class="input2"
         [disabled]="!asociarDireccion"
         [(ngModel)]="capturedInformation[0]?.feature.attributes.DIRECCION"
         readonly
      />
   </div>

   <!-- ... (otras partes del HTML) ... -->
</div>
<br />
<div class="cuadro2">
   <div class="row-2">
      <div class="tabla">
         <div class="fila">
            <div class="celda"></div>
            <div class="celda">Elemento</div>
            <div class="celda">Tag</div>
            <div class="celda">Departamento</div>
            <div class="celda">Localidad</div>
         </div>
         <div class="fila" *ngFor="let feature of selectedFeatures">
            <div class="celda"></div>
            <div class="celda">{{ selectedValue }}</div>
            <div class="celda">{{ feature ? feature.attributes.TAG : '' }}</div>
            <div class="celda">{{ feature ? feature.attributes.DEPARTAMENTO : '' }}</div>
            <div class="celda">{{ feature ? feature.attributes.LOCALIDAD : '' }}</div>
         </div>
      </div>
   </div>
</div>
