<app-selection [ownerTool]='ownerTool'></app-selection>
<div style="text-align: center;">
  <input type="image" title="Seleccionar con Rectángulo" (click)="selectWithRectangleClickHandler()" src="assets/images/seleccionar_rectangulo.png"
  />
  <input type="image" title="Seleccionar con Línea" (click)="selectWithLineClickHandler()" src="assets/images/seleccionar_linea.png"
  />
  <input type="image" title="Seleccionar con Círculo" (click)="selectWithCircleClickHandler()" src="assets/images/seleccionar_circulo.png"
  />
  <input type="image" title="Seleccionar con Polígono" (click)="selectWithPolygonClickHandler()" src="assets/images/seleccionar_poligono.png"
  />
</div>