<div>
  <div *ngIf="!isAdmin">
    <label>
      Contraseña Actual:
    </label>
    <input type="password" [(ngModel)]="model.ContraseniaActual"/>
  </div>
  <div>
    <label>
      Nueva Contraseña:
    </label>
    <input type="password" [(ngModel)]="model.NuevaContrasenia"/>
  </div>
  <div>
    <label>
      Confirmar Nueva Contraseña:
    </label>
    <input type="password" [(ngModel)]="model.RepeticionNuevaContrasenia"/>
  </div>
  <div>
    <input type="button" value="Aceptar" (click)="onAceptarClick()"/>
    <input type="button" value="Cancelar" (click)="onCancelarClick()"/>
  </div>
</div>
<jqxLoader #jqxLoader [imagePosition]="'top'" [width]="80" [height]="50" [text]="'Cargando...'">
</jqxLoader>
